:root {
    --accent-blue: #1e88e5;
    --accent-green: #00e676;
    --accent-red: #f50057;
    --bg-light: #f7f9f9;
    --bg-grey: #E3DEE2;
    --bg-grey-lower: #D0C8CE;
    --bg-darker-grey: #6D5F6B;
    --bg-dark-grey: #413940;
    --bg-dark: #0a1128;
}

* {
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    height: 100%;
    width: 100%;
    /* overflow: auto; */
}

body {
    height: 100%;
    width: 100%;
    font-family: Rubik, sans-serif;
    background: var(--bg-grey);
    /* display: flex;
    justify-content: center; */
}

a {
    color: black;
    text-decoration: none;
}

.tippy-box {
    padding: 0.5rem;

}

.tippy-arrow {
    display: none;
}

.tippy-content {
    font-family: Rubik, sans-serif;
    border-radius: 0;
}